#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100rem;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0rem;
}

.workstitle {
    margin: 1rem 0rem;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}

.worksImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}

.workImg {
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
}

.workBtn {
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
    margin: 3rem 0;
}


.Btn {
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
    margin: 1rem 0 0 0;
}

@media screen and (max-width:585px) {
    .worksImgs {
        height: 48vw;
    }
}